<div class="pt-4">
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center bg-secondary p-3"
    >
      <h3>Suppliers</h3>
      <button class="btn btn-success btn-icon" (click)="showHideEditor()">
        <svg
          *ngIf="isShowEditor"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
          />
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
          />
        </svg>
        <svg
          *ngIf="!isShowEditor"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
          />
        </svg>
      </button>
    </div>
    <div class="bg-light p-3" *ngIf="isShowEditor">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label class="form-label" for="code">Code</label>
          <input
            type="text"
            id="code"
            class="form-control"
            [(ngModel)]="supplier.code"
            placeholder=""
            name="code"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label class="form-label" for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            [(ngModel)]="supplier.name"
            placeholder=""
            name="name"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label class="form-label" for="code">WhatsApp</label>
          <input
            type="text"
            id="whatsapp"
            class="form-control"
            [(ngModel)]="supplier.whatsapp"
            placeholder=""
            name="cowhatsappde"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label class="form-label" for="code">Contact 1</label>
          <input
            type="text"
            id="contact1"
            class="form-control"
            [(ngModel)]="supplier.contact1"
            placeholder=""
            name="contact1"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label class="form-label" for="code">Contact 2</label>
          <input
            type="text"
            id="contact2"
            class="form-control"
            [(ngModel)]="supplier.contact2"
            placeholder=""
            name="contact2"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label class="form-label" for="code">Contact 3</label>
          <input
            type="text"
            id="contact3"
            class="form-control"
            [(ngModel)]="supplier.contact3"
            placeholder=""
            name="contact3"
          />
        </div>
        <div class="col-md-12 mb-3">
          <label class="form-label" for="Address">Address</label>
          <textarea
            class="form-control"
            [(ngModel)]="supplier.address"
          ></textarea>
        </div>
        <div class="col-md-12 d-flex justify-content-end" style="gap: 12px">
          <input
            type="submit"
            class="btn btn-warning"
            value="Cancel"
            (click)="cancel()"
          />
          <input
            type="submit"
            class="btn btn-primary"
            value="Save"
            (click)="save()"
          />
        </div>
      </div>
    </div>
    <div class="card-body without-footer">
      <div class="row">
        <!-- <mean-loader [loading]="isLoading"></mean-loader> -->
        <div class="table-responsive" *ngIf="!isLoading">
          <table class="table">
            <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let supplier of suppliers">
                <td>{{ supplier.code }}</td>
                <td>{{ supplier.name }}</td>
                <td>
                  <div class="d-flex" style="gap: 12px">
                    <button
                      type="button"
                      class="btn btn-primary btn-icon"
                      (click)="edit(supplier)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-pencil-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                        />
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-icon"
                      (click)="delete(supplier)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash3-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
                        />
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
