<div class="pt-4">
  <div class="container">
    <button
      class="btn btn-success btn-icon btn-nav"
      (click)="showHideCreateNew()"
    >
      <svg
        *ngIf="showCreateNewStn"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
      <svg
        *ngIf="!showCreateNewStn"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-plus-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
        />
      </svg>
    </button>
    <ng-container *ngIf="showCreateNewStn">
      <div class="bg-light p-3">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">No</span>
              <label class="form-control" for="name">{{ stn.number }}</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label class="form-label" for="code">Item</label>
            <app-item-search
              (selectItemEvent)="selectItem($event)"
            ></app-item-search>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label" for="code">Code:</label>
            <input
              class="form-control"
              type="text"
              readonly
              [(ngModel)]="newItem.code"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label" for="code">Name:</label>
            <input
              class="form-control"
              type="text"
              readonly
              [(ngModel)]="newItem.name"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label" for="code">Org. Qty:</label>
            <input
              class="form-control"
              type="text"
              readonly
              [(ngModel)]="newItem.originalQty"
            />
          </div>
        </div>
      </div>
      <div class="card-body without-footer px-3">
        <div class="row">
          <!-- <mean-loader [loading]="isLoading"></mean-loader> -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Code</th>
                  <th colspan="2">Name</th>
                  <th>Cost</th>
                  <th>System Qty</th>
                  <th>Actual Qty</th>
                  <th>Difference</th>
                  <th>Lost</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of stn.items; index as i">
                  <td>{{ item.lineNumber }}</td>
                  <td>{{ item.code }}</td>
                  <td colspan="2">{{ item.name }}</td>
                  <td>{{ item.cost | currency }}</td>
                  <td>{{ item.originalQty }}</td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.qty - item.originalQty }}</td>
                  <td>
                    {{ (item.qty - item.originalQty) * item.cost | currency }}
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="delete(item)"
                    >
                      <i class="bi bi-trash3"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="8">Total Cost:</td>
                  <td colspan="2">{{ stn.totalDifference | currency }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="bg-light p-3">
        <div class="row">
          <div class="col-md-6 mb-3">
            <input
              type="text"
              id="comment"
              class="form-control"
              [(ngModel)]="stn.comment"
              placeholder="Comments"
              name="comment"
            />
          </div>
          <div class="col-md-6 mb-3">
            <input
              class="form-control"
              type="text"
              readonly
              [(ngModel)]="stn.items.length"
            />
          </div>
          <div class="col-md-12 mb-3 d-flex justify-content-end">
            <button class="btn btn-primary" type="button" (click)="save()">
              Save
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!showCreateNewStn">
      <div class="bg-light p-3">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="form-label" for="code">From : </label>
            <input type="date" class="form-control" [(ngModel)]="fromDate" />
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label" for="code">To : </label>
            <input type="date" class="form-control" [(ngModel)]="toDate" />
          </div>
          <div class="col-md-4 mb-3 d-flex align-items-end">
            <input
              type="button"
              class="btn btn-success"
              value="Search"
              (click)="search()"
            />
          </div>
        </div>
      </div>
      <div class="card-body without-footer">
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stn of stns">
                  <td>{{ stn.date | date : "short" }}</td>
                  <td>{{ stn.number }}</td>
                  <td>
                    <button
                      *ngIf="stn.isProcessed == false"
                      type="button"
                      class="btn btn-info btn-sm"
                      (click)="process(stn)"
                    >
                      Process
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
