<div class="pt-4">
  <div class="container">
    <button class="btn btn-success btn-icon btn-nav" (click)="showHideEditor()">
      <svg
        *ngIf="isShowEditor"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
      <svg
        *ngIf="!isShowEditor"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-plus-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
        />
      </svg>
    </button>
    <div class="bg-light p-3">
      <form [formGroup]="registerForm" (ngSubmit)="save()" autocomplete="off">
        <div class="row" *ngIf="isShowEditor">
          <div class="col-md-4">
            <app-text-input
              [label]="'Phone'"
              [formControl]="$any(registerForm.controls['phoneNumber'])"
            ></app-text-input>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="code">Title</label>
            <select class="form-control" formControlName="title">
              <option value="Mr. ">Mr</option>
              <option value="Ms. ">Ms</option>
              <option value="Dr. ">Dr</option>
              <option value="Ven. ">Ven</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="col-md-4">
            <app-text-input
              [label]="'Name'"
              [formControl]="$any(registerForm.controls['name'])"
            ></app-text-input>
          </div>
          <div class="col-md-6">
            <app-text-area-input
              [label]="'Address'"
              [formControl]="$any(registerForm.controls['address'])"
            ></app-text-area-input>
          </div>
          <div class="col-md-6">
            <app-text-area-input
              [label]="'Comments'"
              [formControl]="$any(registerForm.controls['comment'])"
            ></app-text-area-input>
          </div>
          <div class="col-md-3">
            <app-text-input
              [label]="'Outstanding'"
              [formControl]="$any(registerForm.controls['totalOutstanding'])"
            ></app-text-input>
          </div>
          <div class="col-md-3">
            <app-text-input
              [label]="'Value'"
              [formControl]="$any(registerForm.controls['totalBillValue'])"
            ></app-text-input>
          </div>
          <div class="col-md-3">
            <app-text-input
              [label]="'Email'"
              [formControl]="$any(registerForm.controls['email'])"
            ></app-text-input>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="custom-control custom-switch mt-3">
              <input
                type="checkbox"
                class="custom-control-input"
                formControlName="isAllowedPrintName"
                id="customSwitch1"
              />
              <label class="custom-control-label" for="customSwitch1"
                >Print Name</label
              >
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-end" style="gap: 12px">
            <button class="btn btn-warning" type="button" (click)="cancel()">
              Cancel
            </button>
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body without-footer">
      <div class="row">
        <!-- <mean-loader [loading]="isLoading"></mean-loader> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Phone</th>
                <th>Name</th>
                <th>Address</th>
                <!-- <th>Value</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cust of customers">
                <td>{{ cust.phoneNumber }}</td>
                <td>{{ cust.title + cust.name }}</td>
                <td>{{ cust.address }}</td>
                <!-- <td>{{cust.totalOutstanding|currency}}/{{cust.totalBillValue|currency}}</td> -->
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="edit(cust)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
